DB_USERNAME="add your own value"
DB_PASSWORD="add your own value"
DB_NAME="add your own value"

DB_URL="add your own value"
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# JPA / Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Flyway
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration
SPRING_FLYWAY_BASELINE_ON_MIGRATE=false
SPRING_FLYWAY_BASELINE_VERSION=1
SPRING_FLYWAY_VALIDATE_ON_MIGRATE=true

JWT_SECRET="add your own value"
JWT_EXPIRATION="add your own value"

REFRESH_TOKEN_EXPIRATION_DAYS="add your own value"
REFRESH_TOKEN_SECRET="add your own value"

TWILIO_ACCOUNT_SID="add your own value"
TWILIO_AUTH_TOKEN="add your own value"
TWILIO_PHONE_NUMBER="add your own value"

# Spring Mail
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
MAIL_USERNAME="add your own value"
MAIL_PASSWORD="add your own value"
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

# Cloud setup
AZURE_STORAGE_CONNECTION_STRING="add your own value"
AZURE_CONTAINER_NAME="add your own value"

# Azure OCR setup
AZURE_DOC_INTELLIGENCE_ENDPOINT="add your own value"
AZURE_DOC_INTELLIGENCE_KEY="add your own value"


CAR_SCHEDULER_INTERVAL="add your own value"
PORT_SCHEDULER_INTERVAL="add your own value"